@import "mixins";

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "DynaPuff";
  font-size: 8px;
  .header {
    background: linear-gradient(252.94deg, #ffee32 -13.48%, #d6d6d6 125.48%);
    height: 800px;
    @include flex-column(auto);
    align-items: flex-start;

    .header-menu {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      padding: 41px 191px;
      z-index: 1000;
      transition: background-color 0.5s linear;
      @include flex-row(20px);
      width: 100%;

      .header-menu__nav {
        @include flex-row(20px);
        a {
          @include flex-row(12px);
          text-decoration: none;
          color: #fff;
          border-radius: 20px;
          border: 1px solid #fff;
          padding: 10px 16px;
        }
      }
    }
    .scroll {
      background-color: #202020;
      padding-top: 18px;
      padding-bottom: 18px;
    }
    .header-menu__burger {
      display: none;
      cursor: pointer;
    }
    h1 {
      padding: 491px 191px 119px 191px;
      font-size: 10em;
      color: #fff;
    }
  }
  main {
    .about {
      background-color: #202020;
      padding-top: 101px;
      padding-bottom: 101px;
      position: relative;
      .about-wrap {
        @include flex-column(40px);
        padding-left: 191px;
        align-items: flex-start;
        max-width: 540px;

        .about__title {
          font-size: 6em;
          color: #faeb49;
        }
        .about__descr {
          font-size: 2em;
          color: #fff;
        }
        .about__stat {
          @include flex-row(96px);
          color: #fff;
          .about__icon {
            @include flex-column(5px);
            align-items: flex-start;
            .about__icon-number {
              font-size: 6em;
            }
            .about__icon-title {
              font-size: 2em;
              text-wrap: nowrap;
            }
          }
        }
      }
      .about__bg-img--lg {
        position: absolute;
        right: 0;
        top: 0;
      }
      .about__bg-img--md {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
      }
      .about__bg-img--sm {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .projects {
      background-color: #3c3c3c;
      padding: 86px 195px;
      @include flex-column(63px);

      .projects-main {
        text-decoration: none;
        @include flex-column(20px);
        align-items: flex-start;
        background-color: #fff;
        padding: 24px 20px;
        border-radius: 24px;
        width: 100%;
        .projects-main__img {
          background-image: url("../images/Frame\ 17.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          //   width: 1010px;
          height: 498px;
          width: 100%;
          border-radius: 13px;

          & img {
            // min-width: 100%;
            height: 130%;
          }
          .btn__zoom {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
          }
        }
        .projects-main__title {
          font-size: 5em;
          color: #565656;
        }
        .projects-main__descr {
          color: #000;
          font-size: 2em;
          max-width: 580px;
        }
      }
      .projects-other {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 40px;
        .projects__item {
          text-decoration: none;
          background-color: #fff;
          border-radius: 24px;
          padding: 20px;
          overflow: hidden;
          @include flex-column(20px);
          align-items: flex-start;

          .projects-other__img {
            overflow: hidden;
            border-radius: 13px;
            width: 285px;
            height: 338px;
            position: relative;
            width: 100%;
            height: 100%;

            & .projects__img--small {
              width: 100%;
              height: 100%;
            }
            & .projects__img--big {
              position: absolute;
              height: 100%;
              left: -45%;
            }

            .btn__zoom {
              position: absolute;
              top: 20px;
              right: 20px;
              cursor: pointer;
            }
          }
          .projects-other__title {
            font-size: 4em;
            color: #565656;
          }
          .projects-other__descr {
            font-size: 2em;
            color: #000;
          }
        }
      }
    }
    .graphics {
      background-color: #202020;
      padding: 82px 190px 130px 190px;
      .graphics__title {
        font-size: 10em;
        color: #fff;
        padding-bottom: 38px;
      }
      .graphics__grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 26px;

        .graphics__item {
          border-radius: 40px;
          overflow: hidden;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .item-1 {
          grid-column-start: 1;
          grid-column-end: 3;
          position: relative;
          height: 414px;
          &::before {
            position: absolute;
            display: block;
            content: "";
            background-image: url("../images/Soft_Star.svg");
            background-size: cover;
            height: 268px;
            width: 268px;
            z-index: 99;
          }
          & img {
            position: absolute;
            left: 0;
            filter: grayscale(100%);
            height: 1055px;
            width: 130%;
          }
        }
        .item-2 {
          position: relative;
          height: 414px;
          &::before {
            position: absolute;
            display: block;
            content: "";
            background-image: url("../images/Butterfly.svg");
            background-size: cover;
            height: 192px;
            width: 187px;
            z-index: 99;
          }
          & img {
            width: 685px;
            // height: 1028px;
            width: 100%;
            // height: 100%;
            filter: grayscale(100%);
          }
        }
        .item-3 {
          position: relative;
          height: 414px;
          &::before {
            position: absolute;
            display: block;
            content: "";
            background-image: url("../images/Asterisk.svg");
            background-size: cover;
            height: 225px;
            width: 233px;
            z-index: 99;
          }
          & img {
            // height: 685px;
            width: 1028px;
            width: 125%;
            height: 100%;
            filter: grayscale(100%);
            transform: scale(1.1);
          }
        }
      }
    }
    .quote {
      background-image: url("../images/bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 310px 190px;
      .quote__text {
        font-size: 6em;
        color: #fff;
        text-align: center;
      }
    }
  }
  footer {
    background-color: #202020;
    padding-top: 78px;
    padding-bottom: 30px;
    @include flex-column(auto);

    .footer__cta {
      text-decoration: none;
      padding: 42px 137px;
      border: 1px solid #f2f2f2;
      border-radius: 139px;
      margin-bottom: 163px;
      @include flex-row(45px);

      .cta__block {
        @include flex-column(17px);
        align-items: flex-start;
        & p {
          font-size: 6em;
          color: #fff;
        }
        .cta__call {
          @include flex-row(24px);
          & span {
            font-size: 3em;
            color: #fff;
          }
        }
      }
    }
    .footer__icons {
      @include flex-row(34px);
      margin-bottom: 21px;
    }
    .footer__copy {
      color: #fff;
      font-size: 2em;
      font-weight: 500;
    }
  }
  .none {
    display: none;
  }
}

//   TABLET
@media screen and (max-width: 1200px) and (min-width: 769px) {
  body {
    font-size: 8px;
    .header {
      align-items: flex-start;

      .header-menu {
        padding: 38px 34px;

        .header-menu__nav {
          display: none;
        }
        .header-menu__burger {
          display: block;
        }
      }
      h1 {
        max-width: 521px;
        padding: 273px 213px 130px 34px;
      }
    }

    main {
      .about {
        .about-wrap {
          padding-left: 33px;
        }

        .about__bg-img--lg {
          display: none;
        }
        .about__bg-img--md {
          display: block;
          height: 100%;
        }
        .about__bg-img--sm {
          display: none;
        }
      }
      .projects {
        padding: 52px 33px 122px 33px;
        @include flex-column(102px);

        .projects-main {
          .projects-main__img {
            & img {
              height: 100%;
            }
          }
        }
        .projects-other {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 40px;
          .projects__item {
            padding: 20px;
            overflow: hidden;
            @include flex-column(20px);
            align-items: flex-start;

            .projects-other__img {
              overflow: hidden;
              border-radius: 13px;
              width: 285px;
              height: 448px;
              position: relative;
              width: 100%;
              height: 100%;

              & .projects__img--small {
                width: 100%;
              }
              & .projects__img--big {
                position: absolute;
                height: 100%;
                left: -45%;
              }
            }
          }
          .projects__item--3 {
            display: none;
          }
        }
      }
      .graphics {
        padding: 82px 32px 139px 32px;
        .graphics__grid-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 26px;

          .graphics__item {
            position: relative;
            max-height: 414px;
            overflow: hidden;
          }
          .item-1 {
            grid-column-start: 1;
            grid-column-end: 3;
            height: 414px;
            position: relative;
            &::before {
              position: absolute;
              display: block;
              content: "";
              background-image: url("../images/Soft_Star.svg");
              background-size: cover;
              height: 227px;
              width: 227px;
            }
          }
          .item-2 {
            position: relative;
            height: 325px;
            &::before {
              position: absolute;
              display: block;
              content: "";
              background-image: url("../images/Butterfly.svg");
              background-size: cover;
              height: 151;
              width: 147;
            }
            & img {
              filter: grayscale(100%);
            }
          }
          .item-3 {
            position: relative;
            height: 325px;
            &::before {
              position: absolute;
              display: block;
              content: "";
              background-image: url("../images/Asterisk.svg");
              background-size: cover;
              height: 177px;
              width: 183px;
            }
            & img {
              width: 1028px;
              width: 125%;
              height: 100%;
              filter: grayscale(100%);
              transform: scale(1.1);
            }
          }
        }
      }
      .quote {
        padding: 274px 31px;
      }
    }
    footer {
      padding: 96px 32px 35px 32px;

      .footer__cta {
        padding: 21px 37px;
        margin-bottom: 60px;
      }
    }
  }
}

//   MOBILE
@media screen and (max-width: 768px) and (min-width: 320px) {
  body {
    .header {
      padding-left: 21px;
      padding-right: 28px;
      align-items: flex-start;

      .header-menu {
        padding: 27px 16px;
        .header-menu__nav {
          display: none;
        }
        .header-menu__burger {
          display: block;
        }
      }
      h1 {
        padding: 412px 28px 149px 21px;
        font-size: 6em;
      }
    }
    main {
      .about {
        padding: 72px 16px;
        position: relative;
        .about-wrap {
          padding-left: 0;

          .about__title {
            font-size: 4.5em;
          }
          .about__stat {
            @include flex-row(14px);
            .about__icon {
              .about__icon-number {
                font-size: 4.5em;
              }
              .about__icon-title {
                text-wrap: wrap;
              }
            }
          }
        }
        .about__bg-img--lg {
          display: none;
        }
        .about__bg-img--md {
          display: none;
        }
        .about__bg-img--sm {
          display: block;
          height: 100%;
        }
      }

      .projects {
        padding: 52px 16px;
        @include flex-column(63px);

        .projects-main {
          text-decoration: none;
          padding: 16px;
          .projects-main__img {
            height: 278px;
          }
          & img {
            height: 100%;
          }
          .projects-main__title {
            font-size: 4em;
          }
          .projects-main__descr {
            font-size: 2em;
          }
        }
        .projects-other {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          gap: 63px;
          .projects__item {
            background-color: #fff;
            border-radius: 24px;
            padding: 20px;
            overflow: hidden;
            @include flex-column(20px);
            align-items: flex-start;

            .projects-other__img {
              position: relative;
              width: 100%;
              height: 363px;

              & .projects__img--small {
                width: 100%;
                height: auto;
              }
              & .projects__img--big {
                position: absolute;
                height: 100%;
                left: -45%;
              }

              & svg {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
              }
            }
            .projects-other__title {
              font-size: 3em;
            }
            .projects-other__descr {
              font-size: 2em;
            }
          }
          .projects__item--1 {
            display: none;
          }
          .projects__item--3 {
            display: none;
          }
        }
      }
      .graphics {
        padding: 58px 16px 93px 16px;
        .graphics__title {
          font-size: 4.5em;
          padding-bottom: 28px;
        }
        .graphics__grid-container {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 20px;

          .graphics__item {
            position: relative;
            overflow: hidden;
          }
          .item-1 {
            grid-column-start: 1;
            grid-column-end: 2;
            height: 325px;
            position: relative;
            &::before {
              height: 172px;
              width: 172px;
            }
            & img {
              height: 900px;
            }
          }
          .item-2 {
            position: relative;
            height: 325px;
            &::before {
              height: 137px;
              width: 134px;
            }
          }
          .item-3 {
            position: relative;
            height: 325px;
            &::before {
              height: 143px;
              width: 148px;
            }
          }
        }
      }
      .quote {
        padding: 180px 16px;
        .quote__text {
          font-size: 3em;
        }
      }
    }
    footer {
      padding: 53px 16px 40px 16px;

      .footer__cta {
        padding: 10.5px 34px;
        margin-bottom: 113px;
        @include flex-row(20px);
        cursor: pointer;
        .cta__block {
          @include flex-column(4px);
          align-items: flex-start;
          & p {
            font-size: 2.5em;
            color: #fff;
          }
          .cta__call {
            @include flex-row(24px);
            & span {
              font-size: 1.8em;
              color: #fff;
            }
          }
        }
      }
      .footer__copy {
        font-size: 1.8em;
      }
    }
  }
}

@media screen and (max-width: 319px) {
    body {
        .header {
          padding-left: 21px;
          padding-right: 28px;
          align-items: flex-start;
    
          .header-menu {
            padding: 27px 16px;
            .header-menu__nav {
              display: none;
            }
            .header-menu__burger {
              display: block;
            }
          }
          h1 {
            padding: 412px 28px 149px 21px;
            font-size: 6em;
          }
        }
        main {
          .about {
            padding: 72px 16px;
            position: relative;
            .about-wrap {
              padding-left: 0;
    
              .about__title {
                font-size: 4.5em;
              }
              .about__stat {
                @include flex-row(14px);
                .about__icon {
                  .about__icon-number {
                    font-size: 4.5em;
                  }
                  .about__icon-title {
                    text-wrap: wrap;
                  }
                }
              }
            }
            .about__bg-img--lg {
              display: none;
            }
            .about__bg-img--md {
              display: none;
            }
            .about__bg-img--sm {
              display: block;
              height: 100%;
            }
          }
    
          .projects {
            padding: 52px 16px;
            @include flex-column(63px);
    
            .projects-main {
              text-decoration: none;
              padding: 16px;
              .projects-main__img {
                height: 278px;
              }
              & img {
                height: 100%;
              }
              .projects-main__title {
                font-size: 4em;
              }
              .projects-main__descr {
                font-size: 2em;
              }
            }
            .projects-other {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: auto;
              gap: 63px;
              .projects__item {
                background-color: #fff;
                border-radius: 24px;
                padding: 20px;
                overflow: hidden;
                @include flex-column(20px);
                align-items: flex-start;
    
                .projects-other__img {
                  position: relative;
                  width: 100%;
                  height: 363px;
    
                  & .projects__img--small {
                    width: 100%;
                    height: auto;
                  }
                  & .projects__img--big {
                    position: absolute;
                    height: 100%;
                    left: -45%;
                  }
    
                  & svg {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    cursor: pointer;
                  }
                }
                .projects-other__title {
                  font-size: 3em;
                }
                .projects-other__descr {
                  font-size: 2em;
                }
              }
              .projects__item--1 {
                display: none;
              }
              .projects__item--3 {
                display: none;
              }
            }
          }
          .graphics {
            padding: 58px 16px 93px 16px;
            .graphics__title {
              font-size: 4.5em;
              padding-bottom: 28px;
            }
            .graphics__grid-container {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr 1fr;
              gap: 20px;
    
              .graphics__item {
                position: relative;
                overflow: hidden;
              }
              .item-1 {
                grid-column-start: 1;
                grid-column-end: 2;
                height: 325px;
                position: relative;
                &::before {
                  height: 172px;
                  width: 172px;
                }
                & img {
                  height: 900px;
                }
              }
              .item-2 {
                position: relative;
                height: 325px;
                &::before {
                  height: 137px;
                  width: 134px;
                }
              }
              .item-3 {
                position: relative;
                height: 325px;
                &::before {
                  height: 143px;
                  width: 148px;
                }
              }
            }
          }
          .quote {
            padding: 180px 16px;
            .quote__text {
              font-size: 3em;
            }
          }
        }
        footer {
          padding: 53px 16px 40px 16px;
    
          .footer__cta {
            padding: 10.5px 34px;
            margin-bottom: 113px;
            @include flex-row(20px);
            cursor: pointer;
            .cta__block {
              @include flex-column(4px);
              align-items: flex-start;
              & p {
                font-size: 2.5em;
                color: #fff;
              }
              .cta__call {
                @include flex-row(24px);
                & span {
                  font-size: 1.8em;
                  color: #fff;
                }
              }
            }
          }
          .footer__copy {
            font-size: 1.8em;
          }
        }
      }
    }
